.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 3rem 2rem;
  background-color: var(--primary);
}

.socials {
  width: 110px;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.contact {
  font-size: 1.25rem;
}
.link {
  margin-top: 0.5rem;
  cursor: pointer;
}

.socials i {
  font-size: 30px;
}

.links {
  display: flex;
  width: 30%;
  justify-content: space-between;
  font-size: 1.25rem;
}

.links p {
  cursor: pointer;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .links {
    margin-top: 1rem;
    flex-direction: column;
  }
  .links_container {
    margin-top: 1rem;
    width: 100%;
    align-items: center;
    text-align: center;
  }
}
