.container {
  display: flex;
  width: 120px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}

.container i {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: grey;
  align-items: center;
  justify-content: center;
}
