.container {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 1.5rem;
  box-shadow: var(--shadow);
  align-items: center;
  margin-top: 2rem;
}

.reviewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  font-size: 1.25rem;
}
.review {
  width: 50%;
  margin-left: 2rem;
}
.reviewer img {
  border-radius: 100px;
}

.review p {
  margin-bottom: 0.5rem;
}

.review i {
  color: rgba(251, 191, 36);
  margin: 0 2px;
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .review {
    margin: 2rem 0;
  }
  .reviewer {
    margin: 0;
  }
}
