.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: var(--shadow);
  padding: 0 3rem;
  border-radius: var(--radius);
}

.header_text h1 {
  font-size: 3rem;
}

.call_to_action {
  margin-top: 1rem;
  display: flex;
  font-size: 1.25rem;
  align-items: center;
  color: var(--primary);
}

.call_to_action p {
  cursor: pointer;
  margin-left: 1rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .header {
    flex-direction: column;
  }
}
